<!DOCTYPE html>
<html larg="es">
    <meta charset="UTF-8">
    <title>Citas de Texto</title>
</head>
<body>
    <h3><blockquote></h3>
       <p> Con el ruido del eclipse
la noche quitó su enagua,
la luna del gran silencio
nuestra azotea palpaba
y mientras cubría tu rostro
el lucero de su andanada
yo te tenía en mis brazos
en el balcón de la playa.<p>
</blockquote>

<hr>
<p>Con el ruido del eclipse
    la noche quitó su enagua,
    la luna del gran silencio
    nuestra azotea palpaba
    y mientras cubría tu rostro
    el lucero de su andanada
    yo te tenía en mis brazos
    en el balcón de la playa.
    </p>
   <p>Sitio web creado por <cite>Max</cite></p>


</body>
</html>