<!DOCTYPE html>
<html larg="en">
<head>
    <meta chatset="UTF-8">
    <title>Diferencias entre  Div,Aticle y Section</title>
</head>
<body>

   <div>
       <img src="img/xp.jpg" widht="200" alt="">
    </div>

    <section class="articulos">
        <article clss="articulo">
            <h2>Titulo de</h2>
            <p>En mundo de dios </p>
            </article>
           <articulo class="articulo>"
           <h2>En momentos dificiles<h2>

           </article> 
      </section>



</body>
</html>
 