<!DOCTYPE html>
<html larng="es">
    <meta charset="UTF"-8>
    <meta  name="viemport"content="wridth=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1,0">
    <title>Layout Basica</title>

</html>
<body>
>
  <div class="contenedor">
      <header>
          <nav>

            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#"> Acerca de</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#"> Contacto</a></li>
                    
                </ul>
            </nav>
         </header>
                
         <section class="main">
            <div class="imagen">
                <img src="img/big.jpg" alt="">
            </div>
            <section class="posts">
                <article>
                    <h2>Titulo del Articulo</h2>
                    <p>“Hoy vas a conquistar el cielo, sin mirar lo alto que queda del suelo”.</p>
                    </article>
                 </section>
             </section>
        </div>


</body>
</html>
