<!DOCTYPE html>
<html larde="es">
<head>
    <meta charset="UTF-8">
    <title>Parrafos</title>
</head>
<boby>
    <p>
        <h1>Parrafo #1</h1>
        Puedo escribir los versos más tristes esta noche.

Escribir, por ejemplo: “La noche está estrellada,
y tiritan, azules, los astros, a lo lejos.”

    </p>

   <p> 

<h2>Parrafo #2</h2>
Puedo escribir los versos más tristes esta noche.

<br />Escribir, por ejemplo: “La noche está estrellada,
y tiritan, azules, los astros, a lo lejos.”
</p>
</boby>
</html>
